[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/milleniumfalcons/Desktop/my-coding-project.html]
row=4
col=0

[/home/milleniumfalcons/Desktop/img]
row=3
col=0

[/home/milleniumfalcons/Desktop/Structure]
row=7
col=0

[/home/milleniumfalcons/Desktop/Global]
row=6
col=0

[/home/milleniumfalcons/Desktop/form.html]
row=5
col=0

[/home/milleniumfalcons/Desktop/hello-world3.html]
row=8
col=0

[/home/milleniumfalcons/Desktop/hello-world3]
row=9
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/milleniumfalcons]
row=1
col=0

